.text {}

.text_align_center {
  text-align: center;
}

.text_size_s .text__word_width_s {
  width: 20px;
}

.text_size_m .text__word_width_s {
  width: 24px;
}

.text_size_l .text__word_width_s {
  width: 28px;
}

.text_size_xl .text__word_width_s {
  width: 32px;
}

.text_size_xxl .text__word_width_s {
  width: 36px;
}

.text_size_s .text__word_width_m {
  width: 48px;
}

.text_size_m .text__word_width_m {
  width: 56px;
}

.text_size_l .text__word_width_m {
  width: 68px;
}

.text_size_xl .text__word_width_m {
  width: 74px;
}

.text_size_xxl .text__word_width_m {
  width: 88px;
}

.text_size_s .text__word_width_l {
  width: 100px;
}

.text_size_m .text__word_width_l {
  width: 114px;
}

.text_size_l .text__word_width_l {
  width: 138px;
}

.text_size_xl .text__word_width_l {
  width: 154px;
}

.text_size_xxl .text__word_width_l {
  width: 184px;
}

.text_size_s .text__word {
  height: var(--font-size-s);
  margin-top: calc((var(--line-height-s) - var(--font-size-s)) / 3);
  margin-bottom: calc((var(--line-height-s) - var(--font-size-s)) * 2 / 3);
}

.text_size_m .text__word {
  height: var(--font-size-m);
  margin-top: calc((var(--line-height-m) - var(--font-size-m)) / 3);
  margin-bottom: calc((var(--line-height-m) - var(--font-size-m)) * 2 / 3);
}

.text_size_l .text__word {
  height: var(--font-size-l);
  margin-top: calc((var(--line-height-l) - var(--font-size-l)) / 3);
  margin-bottom: calc((var(--line-height-l) - var(--font-size-l)) * 2 / 3);
}

.text_size_xl .text__word {
  height: var(--font-size-xl);
  margin-top: calc((var(--line-height-xl) - var(--font-size-xl)) / 3);
  margin-bottom: calc((var(--line-height-xl) - var(--font-size-xl)) * 2 / 3);
}

.text_size_xxl .text__word {
  height: var(--font-size-xxl);
  margin-top: calc((var(--line-height-xxl) - var(--font-size-xxl)) / 3);
  margin-bottom: calc((var(--line-height-xxl) - var(--font-size-xxl)) * 2 / 3);

}

.text_type_h1 {
  margin: 18px 0 24px;
}

.text_type_h2 {
  margin: 45px 0 21px;
}

.text_type_h3 {
  margin: 42px 0 0;
}

.text_type_p {
  margin: 15px 0 21px;
}

.text_view_primary .text__word {
  background-color: var(--text-color-primary);
}

.text_view_secondary .text__word {
  background-color: var(--text-color-secondary);
}

.text_view_ghost .text__word {
  background-color: var(--text-color-additional);
}

.text_view_link .text__word {
  background-color: var(--text-color-link);
}

.text__word {
  display: inline-block;
  vertical-align: middle;
}
