.event {
  min-height: 400px;
}

.event__content {
  flex-direction: column;
}

.event__preview {
  display: flex;
  margin-bottom: var(--space-xxl);
}

.event__preview .avatar {
  background-color: var(--bg-color-accent);
  margin-right: var(--space-xs);
}

.event__title {
  margin-bottom: var(--space-s);
}
