.image {
  width: 100%;
  border: 3px solid var(--border-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.image::before {
  content: var(--image);
  width: 80px;
  height: 64px;
}