.warning {
  min-height: 335px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.warning .placeholder {
  margin-top: var(--space-m);
  margin-bottom: var(--space-m);
}

.warning__content {
  flex-direction: column;
  align-items: center;
}
