@import "/base.blocks/informer/informer.css";
@import "/base.blocks/text/text.css";
@import "/base.blocks/placeholder/placeholder.css";
@import "/base.blocks/button/button.css";

.warning {
  min-height: 335px;
}

.warning .placeholder {
  margin-top: var(--space-m);
  margin-bottom: var(--space-m);
}

.warning__content {
  flex-direction: column;
  align-items: center;
}

.warning__button-wrapper {
  margin-top: 5px;
}