.grid {
  --full-gap: var(--gap);
  --half-gap: calc(var(--gap) / 2);
  --two-thirds-gap: calc(var(--gap) * 2 / 3);

  display: grid;
}

.grid_m-columns_10 {
  grid-template-columns: repeat(10, 1fr);
}

.grid_m-columns_12 {
  grid-template-columns: repeat(12, 1fr);
}

.grid_col-gap_two-thirds {
  grid-column-gap: var(--two-thirds-gap);
}

.grid_col-gap_half {
  grid-column-gap: var(--half-gap);
}

.grid_col-gap_full {
  grid-column-gap: var(--full-gap);
}

.grid_row-gap_half {
  grid-row-gap: var(--half-gap);
}

.grid_row-gap_full {
  grid-row-gap: var(--full-gap);
}

.grid__fraction {}

.grid__fraction_m-col_2 {
  grid-column: span 2;
}

.grid__fraction_m-col_3 {
  grid-column: span 3;
}

.grid__fraction_m-col_4 {
  grid-column: span 4;
}

.grid__fraction_m-col_5 {
  grid-column: span 5;
}

.grid__fraction_m-col_8 {
  grid-column: span 8;
}

@media only screen and (max-device-width: 1024px){
  .grid_m-columns_10,
  .grid_m-columns_12 {
    grid-template-columns: 1fr;
  }

  .grid__fraction_m-col_2,
  .grid__fraction_m-col_3,
  .grid__fraction_m-col_4,
  .grid__fraction_m-col_5,
  .grid__fraction_m-col_8 {
    grid-column: span 1;
  }
}
