.product {
  min-height: 300px;
  border: 3px solid var(--border-color);
}

.product__title {
  margin-bottom: var(--space-xxxl);
}

.product__image {
  width: 100%;
  background-color: var(--bg-color-default);
}

.product__image .image {
  height: 160px;
  border: 0;
}

.product__footer {
  margin-top: var(--space-m);
  display: flex;
  flex-direction: column;
}